.clients {
  display: flex;

  a {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent-colour;
      outline: none;

      svg {
        fill: $accent-colour;
      }
    }

    svg {
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
